---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets/invalidcat
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"8223379355222595581"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 1a266e75-5b95-4d56-9c8c-4aff37c4592d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Asset",
            "id": "invalidcat",
            "environment": "master",
            "space": "cfexampleapi"
          },
          "requestId": "7536eb38-18e7-486a-9f67-8ccd19dcb343"
        }
  recorded_at: Tue, 14 Jan 2020 22:13:19 GMT
recorded_with: VCR 5.0.0
