---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets?invalid_parameter=invalid_value
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"8590744872259529031"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 031e0de9-0e43-483f-aa15-9c0743bc3452
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidQuery"
          },
          "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field.",
          "details": {
            "errors": [
              {
                "name": "unknown",
                "path": [
                  "invalid_parameter"
                ],
                "details": "The path \"invalid_parameter\" is not recognized"
              }
            ]
          },
          "requestId": "031e0de9-0e43-483f-aa15-9c0743bc3452"
        }
  recorded_at: Thu, 16 Jan 2020 19:43:10 GMT
recorded_with: VCR 5.0.0
