---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets/nyancat
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"571825342436012899"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - b8117c8d-cfee-4dd0-b858-5293c67e22fe
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "id": "nyancat",
            "type": "Asset",
            "createdAt": "2013-09-02T14:56:34.240Z",
            "updatedAt": "2013-09-02T14:56:34.240Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "revision": 1,
            "locale": "en-US"
          },
          "fields": {
            "title": "Nyan Cat",
            "file": {
              "url": "//images.ctfassets.net/cfexampleapi/4gp6taAwW4CmSgumq2ekUm/9da0cd1936871b8d72343e895a00d611/Nyan_cat_250px_frame.png",
              "details": {
                "size": 12273,
                "image": {
                  "width": 250,
                  "height": 250
                }
              },
              "fileName": "Nyan_cat_250px_frame.png",
              "contentType": "image/png"
            }
          }
        }
  recorded_at: Tue, 14 Jan 2020 22:13:03 GMT
recorded_with: VCR 5.0.0
