---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries/nyancat?locale=invalid_value
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"1258919861208307918"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - bc8ba04e-f0ad-4a41-98de-bdb7b9bca712
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Unknown locale: invalid_value",
          "requestId": "bc8ba04e-f0ad-4a41-98de-bdb7b9bca712"
        }
  recorded_at: Thu, 02 Jan 2020 18:54:18 GMT
recorded_with: VCR 5.0.0
