---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?invalid_parameter=invalid_value
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"2005257785589201166"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 110c4aa7-7eea-4a0a-adb6-c71eed8bed74
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidQuery"
          },
          "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field.",
          "details": {
            "errors": [
              {
                "name": "unknown",
                "path": [
                  "invalid_parameter"
                ],
                "details": "The path \"invalid_parameter\" is not recognized"
              }
            ]
          },
          "requestId": "b8a319d8-c59a-437c-87cb-bb85ec080380"
        }
  recorded_at: Thu, 02 Jan 2020 18:37:45 GMT
recorded_with: VCR 5.0.0
